<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>sample-rest-service-webapi</display-name>
    <servlet>
        <servlet-name>SampleRestServiceServlet</servlet-name>
        <servlet-class>com.ibm.websphere.jaxrs.server.IBMRestServlet</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>jp.co.sample.rest.pres.SampleApplication</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <env-entry>
        <description>Active Profile</description>
        <env-entry-name>active-profile</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>dev</env-entry-value>
    </env-entry>
</web-app>
