<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
    <!-- 単体テスト環境用設定 -->
    <property scope="system" name="DEFAULT_CHARSET" value="UTF-8" />
    <property scope="system" name="LOG_DIR" value="C:/development/log/sample-rest-service" />
    <!-- ログ出力フォーマット -->
    <property scope="system" name="DETAIL_FORMAT" value="%d{yy/MM/dd HH:mm:ss.SSS} ${HOSTNAME} [%thread] %-5level %logger{36} - %msg%n" />
    <property scope="system" name="SIMPLE_FORMAT" value="%d{yy/MM/dd HH:mm:ss.SSS} ${HOSTNAME} [%thread] %.-1level - %msg%n" />

    <!-- Appender設定 -->
    <include resource="META-INF/log/logback-appenders.xml" />

    <!-- ロガー -->
    <logger name="dev.sample" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="DEBUG_LOG_APPENDER" />
    </logger>

    <logger name="PERFORMANCE_LOGGER" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="PERFORMANCE_LOG_APPENDER" />
    </logger>

    <logger name="ACCESS_LOGGER" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="ACCESS_LOG_APPENDER" />
    </logger>

    <logger name="STATISTICS_LOGGER" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="STATISTICS_LOG_APPENDER" />
    </logger>

    <logger name="ERROR_LOGGER" additivity="false">
        <level value="WARN" />
        <appender-ref ref="ERROR_LOG_APPENDER" />
    </logger>

    <root level="DEBUG">
        <appender-ref ref="DEBUG_LOG_APPENDER" />
    </root>
</configuration>
